<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>
    <h1>This is the home page</h1>
    <a class="btn btn-primary" href="{% url 'games' %}">Games</a>
    <a class="btn btn-primary" href="{% url 'movies' %}">Movies</a>
    <a class="btn btn-primary" href="{% url 'add_game' %}">Add Game</a>
    <a class="btn btn-primary" href="{% url 'add_movie' %}">Add Movie</a>
  </body>
</html>
