{% extends 'shop/shop_base.html' %}

  {% block content %}
    {% if confirmation %}
      <p><h1>Thanks for shopping with Redbox !!!</h1></p>
      <p><a class="btn btn-primary" href="{% url 'home' %}">Go Back To Home</a></p>
    {% else %}
      {% for item in cart_items %}
        <p>Title: <a href="{% url 'movie_detail' pk=item.pk %}">{{item.title}}</a></p>
        <p><a href="{% url 'movie_detail' pk=item.pk %}"><img src="{{item.image.url}}" alt=""></a></p>
        <p>Description: {{item.description}}</p>
        <p>Genre: {{item.genre}}</p>
        <p>Rating: {{item.rating}}</p>
      {% endfor %}
      <a class="btn btn-primary" href="{% url 'home' %}">Continue Shopping</a>
      <a class="btn btn-primary" href="{% url 'purchase' %}">Purchase</a>
    {% endif %}
  {% endblock %}
